#about{
	width: 100vw;
	height: auto;
	justify-content:flex-start;
	padding: 6rem;
	flex-direction:column;

	@media screen and (min-width: 1700px){
		height: 100vh;
	}
}

.head-title{
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	gap: 5px;
}
.aboutme__section{
	 height: 100%;
 	 display: grid;
 	 grid-template-columns: 35% 50%;
 	 place-items:center;
 	 gap:10%;
	.picture__section{
			display: grid;
			place-items:center;
			width: 80%;
			aspect-ratio:1/1;
			border-radius: 2rem;
			background-image: linear-gradient(45deg, transparent, var(--primary-color), transparent);


			.pp__div{
				height: 100%;
				width: 100%;
				border-radius: 2rem;
				transform:rotate(9deg);
				transition: 300ms;

					.profile__img{
					height: 100%;
					width: 100%;
					border-radius: 2rem;
					}
					&:hover{
						transform:rotate(0deg);
					}
			}
		
	}

	.aboutme-info__section{
		display: flex;
		justify-content:center;
		gap:2rem;
		flex-direction:column;

		.links{
			display: flex;
			gap:15px;
		}
		.cards{
			display: flex;
			gap:15px;

			.card{
			    backdrop-filter: saturate(180%) blur(20px);
			    background-color: #48acf329;	
    		    padding: 0.4rem 2rem;
			    border-radius: 50px;
			}
		}
		.about-text{
			font-size: 17px;
			@media screen and (max-width: 800px){
				padding: 0 25px;
			}
		}
		.quote{
			 backdrop-filter: saturate(180%) blur(20px);
			 background-color: #48acf329; 
			 padding: 2rem 3rem;
			 border-radius: 1rem;
			 font-style: italic;
		}
	}

	@media screen and (max-width: 800px) {
    	grid-template-columns: 100%;
  }
  @media screen and (min-width: 1380px) {
    	width: 80%;
  }
}
