#details{
	width: 100vw;
	align-items:flex-start;
	padding: 8rem;
	gap: 50px;

	@media screen and (max-width: 1200px){
		padding: 6rem 2rem;
		flex-direction: column;
		align-items:center;
		justify-content:flex-start;

	}
}

.details__section{
 width: 70%;
 gap:50px;
 flex-direction: column;

 	@media screen and (max-width: 800px){
		width: 100%;
	}
}

.more__section{
	width: 30%;
	flex-direction:column;

		.cards{
			flex-direction:column;

				@media screen and (max-width: 1200px){
						flex-direction:row;
						flex-wrap:wrap;
					}

		}

	@media screen and (max-width: 1200px){
		width: 100%;
	}
}


.tags{
 	gap:10px;
 	flex-wrap: wrap;

 		.Atag{
	 	    backdrop-filter: saturate(180%) blur(20px);
	    	background-color: #48acf329;
	    	padding: 4px 10px;
	    	border-radius: 5px;

 	}
 }