#details{
	width: 100vw;
	align-items:flex-start;
	padding: 8rem;
	gap: 50px;

	@media screen and (max-width: 1200px){
		padding: 6rem 2rem;
		flex-direction: column;
		align-items:center;
		justify-content:flex-start;

	}
}

.details__section{
 width: 70%;
 gap:50px;
 flex-direction: column;

 	.details__header{
 		flex-direction:column;
 		gap:20px;

 	}
 	.in__details-section{
 		flex-direction:column;
 		letter-spacing: 2px;
 		line-height:30px;
 		
 		.details__img{
 			object-fit:cover;
 			width: 100%;
 			height:400px;
 		}
 		.article{

 			.details__img-sub{
 				object-fit:cover;
	 			width:50%;
	 			height:100%;

	 			@media screen and (max-width: 800px){
					width: 100%	;
					height:100%;		}
 			}

 		@media screen and (max-width: 1000px){
			flex-direction:column;
		}
 		}
 	}

 	@media screen and (max-width: 800px){
		width: 100%;
	}
}

.more__section{
	width: 30%;
	flex-direction:column;

		.cards{
			flex-direction:column;

					.related{
					cursor: pointer;
					backdrop-filter: saturate(180%) blur(20px);
					background-color: #48acf329;
					flex-direction:column;
					gap:10px;
					padding: 0.7rem 0.8rem;
					border-radius: 0.75rem;
						.related-post{
							width: 100%;
							height: 200px;
							object-fit:cover;
							border-radius: 0.75rem;
						}
				}
				@media screen and (max-width: 1200px){
						flex-direction:row;
						flex-wrap:wrap;
					}

		}

	@media screen and (max-width: 1200px){
		width: 100%;
	}
}


.tags{
 	gap:10px;

 		.Atag{
	 	    backdrop-filter: saturate(180%) blur(20px);
	    	background-color: #48acf329;
	    	padding: 4px 10px;
	    	border-radius: 5px;

 	}
 }