 	.details__header{
 		flex-direction:column;
 		gap:20px;

 	}
 	.in__details-section{
 		flex-direction:column;
 		letter-spacing: 2px;
 		line-height:30px;
 		
 		.details__img{
 			object-fit:cover;
 			width: 100%;
 			height:400px;
 			border-radius: 1rem;

 			@media screen and (max-width: 800px){
					width: 100%	;
					height: auto;
					}
 		}
 		.article{

 			.details__img-sub{
 				object-fit:cover;
	 			width:50%;
	 			height:100%;
	 			border-radius: 1rem;

	 			@media screen and (max-width: 800px){
					width: 100%	;
					height: auto;
					}
 			}

 		@media screen and (max-width: 1000px){
			flex-direction:column;
		}
 		}
 		@media screen and (min-width: 2000px){
			font-size: 1.5rem;
		}
 	}

.blue-text{
	color: var(--primary-color);
}
.__more_details{
	align-items:flex-start;
}
.cannot_clik_btn{
	cursor: not-allowed;
	border-color:grey;
	color: grey;
	position: relative;
}
.cannot_clik_btn:hover{
	background-color: transparent !important;
	color:grey;
}
.Github:hover:before{
	content:'Github Link is not Public or not included';
	background-color: white;
	border:2px solid var(--primary-color);
	height: auto;
	color: var(--primary-color);
	padding: 10px;
	border-radius: 5px;
	width:auto;
	position:absolute;
	top: -70px;
	left:0
}

.demo:hover:before{
	content:'No Demo link is available';
	background-color: white;
	border:2px solid var(--primary-color);
	width: 200px;
	height: auto;
	color: var(--primary-color);
	padding: 10px;
	border-radius: 5px;
	position:absolute;
	top: -50px;
	left:50%;
	transform:translateX(-50%);
}