 	.details__header{
 		flex-direction:column;
 		gap:20px;

 	}
 	.in__details-section{
 		flex-direction:column;
 		letter-spacing: 2px;
 		line-height:30px;
 		
 		.details__img{
 			object-fit:cover;
 			width: 100%;
 			height:400px;
 			border-radius: 1rem;

 			@media screen and (max-width: 800px){
					width: 100%	;
					height: auto;
					}
 		}
 		.article{

 			.details__img-sub{
 				object-fit:cover;
	 			width:50%;
	 			height:100%;
	 			border-radius: 1rem;

	 			@media screen and (max-width: 800px){
					width: 100%	;
					height: auto;
					}
 			}

 		@media screen and (max-width: 1000px){
			flex-direction:column;
		}
 		}
 		@media screen and (min-width: 2000px){
			font-size: 1.5rem;
		}
 	}

.blue-text{
	color: var(--primary-color);
}