#experience{
	width: 100vw;
	height: auto;
	justify-content:flex-start;
	padding: 6rem;
	flex-direction: column;
	position: relative;
	gap:60px;
}

.frontend { grid-area:frontend;}
.backend { grid-area:backend;}
.design { grid-area:design;}

.exp__icons{
	display: flex;
	font-size: 6rem ;
	padding: 2% 0 0 0;

			.stack-icons{
				background-color: var(--primary-color);
				padding: 20px;
			   	border-radius: 100px;
			   	z-index: 1;

				   	@media screen and (max-width: 800px){
						padding: 10px;
					}
				}

			@media screen and (max-width: 800px){
				font-size: 3.7rem;
				gap:10px;
			}

			@media screen and (min-width: 2000px){
				font-size: 8rem;
				padding: 3% 0 0 0;
			}

}

.stacks{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
				'frontend backend'
				'design design'
				;
	gap:2rem;

		@media screen and (max-width: 800px){
				grid-template-columns: 1fr;
				grid-template-areas:
				'frontend'
				'backend'
				'design'
				;
		}
}

.skills__stack{
		background-color: #48acf363;
		padding: 2rem 4rem;
		border-radius: 2rem;
		border: 1px solid #48acf363;
		transition:200ms;

		&:hover{
			background: transparent;
			cursor: default;
		}

				.head-stack{
					font-weight: bold;
					text-transform: uppercase;
					padding-bottom: 2rem;
				}

		.skills__content{
				display:grid;
				grid-template-columns:1fr 1fr;
				row-gap:2rem;
				gap:1rem;

					.skills__details{
						display: flex;
						gap:1rem;

					}

			@media screen and (max-width: 1024px){
				padding: 1rem;
			}
			@media screen and (max-width: 800px){
				padding: 1rem;
			}
			@media screen and (min-width: 2000px){
				padding: 2rem;
				row-gap:3rem;
				gap:2rem;
			}

		}

		@media screen and (max-width: 1024px){
			width: 100%;
			padding: 2rem;
			margin:0 auto;
		}
}