
  .app__work-item {
    width: 270px;
    flex-direction: column;
    gap:0;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: #48acf329;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 2000px) {
      width: 400px;
      padding: 1.25rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 300px) {
      width: 100%;
      margin: 1rem;
    }
  }

  .app__work-img {
  width: 100%;
  height: 230px;

  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 300px;
  }
}

.app__work-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);

    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--primary-color);
    }
    .svg-light{
      color: #8fd4ff;
    }
  }
}


.app__work-content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  gap:0;

  h4 {
    margin-top: 0.5rem;
    line-height: 1.5;
    text-transform: uppercase;

    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }
  }

  .app__work-tag {
    position: absolute;

    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #1d2f59;
    top: -25px;
  }
  .app__work-tag-light{
        background-color: #d6eefd;
  }
  .center{
    text-align: center;
  }
}

.bold{
  font-weight: bold;
}

.app__work-more{
  height: 35px;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  font-size:0.8rem;

  .arrow-icon{
      font-size: 1.6rem ;
      margin: 2px 0 0 -25px;
      transition:300ms;
    }
    .arrow-icon-left{
      margin: 2px 0 0 -15px;
    }
}