#footer{
	width: 100vw;
	padding: 0 0 1rem 0;
	gap:30px;
	justify-content:flex-end;
	padding: 1rem 4rem;
		@media screen and (max-width: 800px){
		height: 4rem;
	}
}

.bt{
		@media screen and (max-width: 800px){
		display: none;

	}
}