.app__dim{
  flex:1;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  padding: 5rem 2rem 0;
  position: relative;
}
.header-text{
  gap:10px;
  margin-bottom: 10px;
}
.btn{
  background-color: var(--primary-color);
  border: none;
  padding:0.8rem;
  margin: 10px 0 0 0;
  border-radius: 0.3rem;
  font-weight: bold;
  color: var(--white-color-light);
  cursor: pointer;
}
.profileImg{
  width: auto;
  height: 550px;
  padding-left: 15px;

  @media screen and (max-width: 2000px) {
      height: 275px; 
  }
}
.header__socials {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:0.8rem;
  position: absolute;
  left: 60px;
  bottom: 3rem;
  font-size: 1.2rem;
  color: var(--primary-color);

  &::after{
  content:'';
  width: 2px;
  height: 3rem;
  background-color: var(--primary-color)
  }

  @media screen and (max-width: 650px) {
      display: none;
      }
}
.header__email {
  align-items: center;
  gap:0.8rem;
  position: absolute;
  right: 30px;
  bottom: 7rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  font-size: 0.8rem;
  cursor: pointer;

    p{
      transform: rotate(90deg);
    }

  @media screen and (max-width: 650px) {
      display: none;
      }
}